body{
  background-color: rgb(38, 38, 38);
  color: #fff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
  color: #fff;
}
h1{
  text-align: center;
  letter-spacing: 5px;
}